---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<h2
  class="text-4xl text-zinc-200 underline-offset-4 underline decoration-rose-500 font-semibold text-center"
>
    {title} 
</h2>
